<h1>账号列表</h1>

<!--ul class="accounts">
    <li *ngFor="let account of accounts" (click)="onSelect(account)" [class.selected]="account === selectedAccount">
        <span class="badge">{{ account.id }}</span>
        <span>{{ account.name }}</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">X</button>
    </li>
</ul-->

<table class="table">
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>Email</th>
        <th>Phone</th>
        <th>上次登录</th>
        <th>操作</th>
    </tr>
    <tr *ngFor="let account of accounts; let idx=index">

        <td class="eventable" *ngIf="idx % 2 == 1; else otherid">{{ account.id }}</td>
        <ng-template #otherid>
            <td class="nonetable">{{ account.id }}</td>
        </ng-template>

        <td class="eventable" *ngIf="idx % 2 == 1; else othername">{{ account.name }}</td>
        <ng-template #othername>
            <td class="nonetable">{{ account.name }}</td>
        </ng-template>

        <td class="eventable" *ngIf="idx % 2 == 1; else otheremail">{{ account.email }}</td>
        <ng-template #otheremail>
            <td class="nonetable">{{ account.email }}</td>
        </ng-template>

        <td class="eventable" *ngIf="idx % 2 == 1; else otherphonenumber">{{ account.phoneNumber }}</td>
        <ng-template #otherphonenumber>
            <td class="nonetable">{{ account.phoneNumber }}</td>
        </ng-template>        

        <td class="eventable" *ngIf="idx % 2 == 1; else otherlastlogin">{{ account.lastLogin }}</td>
        <ng-template #otherlastlogin>
            <td class="nonetable">{{ account.lastLogin }}</td>
        </ng-template>

        <td class="eventable" *ngIf="idx % 2 == 1; else otheroperation">
            <button (click)="gotoDetail(account)">编辑</button>
            <button class="delete" (click)="delete(account);">删除</button>
            <button (click)="gotoAdd()">添加</button>
        </td>
        <ng-template #otheroperation>
            <td class="nonetable">
                <button (click)="gotoDetail(account)">编辑</button>
                <button class="delete" (click)="delete(account);">删除</button>
                <button (click)="gotoAdd()">添加</button>
            </td>
        </ng-template>
    </tr>
</table>

