<div id="myheader">
    <div id="headercontent">
        <img src="static/images/favicon.png">
        <p>MIRAGE</p>
        <nav style="display: block">
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
        </nav>
    </div>
</div>

<div id="mybody">
    <h2>机器人列表</h2>
    <p>Welcome to {{ where }}</p>
</div>

<div id="myfooter">
    <div style="height: 1px; background-color: #eaeaea; margin: 0 auto;">
    </div>
    <p>
        版权所有 © 2011-2017 北京信联云通科技有限责任公司
    </p>
</div>