table {
    width: 95%;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #607D8B;
    font-size: 1.3em;
    color: white;
}
table td {
	border-width: 1px;
	padding: 8px;
    font-size: 1.1em;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


