<h1>核心账号</h1>
<div class="grid grid-pad">
    <a *ngFor="let account of accounts" [routerLink]="['/detail', account.id]"  class="col-1-4">
        <div class="module account">
            <h4>{{ account.name }}</h4>
        </div>
    </a>
</div>

<h1>主机信息</h1>
<div class="grid grid-pad">
    <a class="col-1-4">
        <div class="module account">
            <h4>10.10.1.100</h4>
        </div>
    </a>
    <a class="col-1-4">
        <div class="module account">
            <h4>10.10.1.100</h4>
        </div>
    </a>
    <a class="col-1-4">
        <div class="module account">
            <h4>10.10.1.100</h4>
        </div>
    </a>        
</div>