* {
    padding: 0;
    margin: 0;
}

.basic {
    background-color: #265a88
}

html {
    height: 100%;
}

body {
    background-color: white;
    height: inherit;
}

#myheader {
    margin: 0 auto;
    height: 50px;
    background-color: black;
}

#mybody h2 {
    color: #333333;
    padding-bottom: 10px;
}

#myheader p {
    color: #eeeeee;
}

.container {
    background-color: red;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#mybody {
    padding-top: 10px;
    background-color: white;
    margin: 0 auto;
    width: 75%;
}

tr td {
    vertical-align: middle !important;
}

#myfooter {
    background-color: white;
    margin: 0 auto;
    width: 75%;
    height: 30px;
    padding-top: 10px;
    color: #777777;
    clear: both;
}

#myfooter p {
    color: gray;
    font-size: 0.5em;
    line-height: 1.6em;
}

#errorPrompt {
    margin: 0 auto;
    width: 400px;
}

.robotbutton {
    height: 32px;
    width: 32px;
    float: left;
}

.robotbutton img {
    margin: 2px;
}

.robotbutton:hover {
    background-color: #9acfea;
    opacity: 95;

}