* {
    padding: 0;
    margin: 0;
}

.basic {
    background-color: #265a88
}

html {
    height: 100%;
}

body {
    background-color: white;
    height: inherit;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

tr td {
    vertical-align: middle !important;
}

h1 {
    color: #999999;
    font-size: 1.2em;
    margin-top: 8px;
    margin-bottom: 8px;
}

#errorPrompt {
    margin: 0 auto;
    width: 400px;
}

.robotbutton {
    height: 32px;
    width: 32px;
    float: left;
}

.robotbutton img {
    margin: 2px;
}

.robotbutton:hover {
    background-color: #9acfea;
    opacity: 95;

}

table {
  width: 100%;
  font-family: verdana, arial, sans-serif;
  color: #333333;
  border-width: 1px;
  border-color: grey;  
  border-collapse: collapse;
  text-align: center;
}

table th {
  padding: 8px;
  border-color: grey;
  background-color: #eee;
  font-size: 1em;
  color: black;
  border-top: 1px solid #ddd;
}

table td {
  border-width: 1px;
  height: 34px;
  padding: 2px;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
}

table tr:hover {
  background-color: #d4e3e5 !important;
}

table tr:hover td {
  background: none;
}

.nonetable {
  background-color: white;
}

.eventable {
  background-color: #eee;
}